# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android Firebase Configuration
/android/app/google-services.json

# iOS Firebase Configuration
/ios/Runner/GoogleService-Info.plist
/macos/Runner/GoogleService-Info.plist

# Web Firebase Configuration (NẾU BẠN SỬ DỤNG CÁC KEY CỤC BỘ)
/web/firebase-config.js

# Firebase Options
/lib/firebase_options.dart

# Platform-specific files
/linux/
/macos/
/windows/